

.home-index{
  width: 100%;
  padding: 40px;


  &_module{
    --module-color:red;
    color: var(--module-color);
    font-size: var(--font-size);
  }


  .button{
    display: flex;
    gap: 10px;
    color:var(--main-color);
  }

  .table{
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #333;
  }

}